/* MAIN STYLES */

body {
  border: 5px solid #1c1c1c;
  color: #1c1c1c;
  font-family: 'PT Sans', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
}

h1,
h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 0.85em;
  margin: 0 0 1em 0;
  padding: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 10px 5px;
}

a {
  text-decoration: none;
}


img {
  max-width: 100%;
}


.site-title h1 {
  font-size: 1.5em;
} 

.site-title h2 {
  color: #947c7c; 
}

.site-logo {
  max-width: 40%;
}

.hero-blurb {
  font-style: italic;
  margin: 0 10px;
  padding: 5px;
}

.featured-work {
  padding: 20px 5px;

}

.project-list {
  padding: 5px;
}

footer {
  text-align: center;
}




