
@media screen and (max-width: 360px) {
  .site-title h1 {
    display: none;
  } 

  .hero-blurb {
    border: 2px dashed#655759;

  }
}

@media screen and (min-width: 760px){

  body {
    border-top: 1px solid #1c1c1c;

  }
  
  .container {
    padding: 0 5%;
    margin: 0 auto;
  }

  .hero-blurb {
    font-size: 1.40em;
  }

  .hero {
    padding-top: 40px;
  }

}

@media screen and (min-width: 940px) {

  .container {
    max-width: 1080px;
  }

  .site-logo {
    max-width: 30%;
    padding-bottom: 10px;
  }

  .site-title {
    font-size: 25px;
    padding-top: 20px;

  }
  
  .hero {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
  
  .hero,
  .hero-blurb,
  .hero-image {
    flex: 1;
    padding: 10px;
  }

  .hero-img {
    max-width: 60%;
  }

  .featured-work {
    display: flex;
  }

  .featured-one,
  .featured-two,
  .featured-three {
    width: 100%

  }

  .featured-one {
    margin-right: 10px;
    order: 1;
  }

  .featured-two {
    margin: 0 5px;
    order: 2;
  }

  .featured-three {
    margin-left: 5px; 
    order: 3;
  }
 
  .featured-one,
  .featured-two,
  .featured-three {
    border: 1px solid #1c1c1c;
    box-shadow: 1px 3px #1c1c1c;
    
  }

} 

